DEBUG=0
SECRET_KEY=replace-with-at-least-64-random-characters
DJANGO_ALLOWED_HOSTS=ed-continua-inova.intec.edu.ec
DJANGO_CSRF_TRUSTED_ORIGINS=https://ed-continua-inova.intec.edu.ec
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_SECURE_HSTS_SECONDS=31536000
PAYMENTS_API_URL=https://alldigital-pay.com/api/web/v2/transaccion
TOKEN_PAY=replace-in-secret-store
PAYMENTS_AMBIENTE=Produccion
PAYMENTS_CACHE_TTL=300
PAYMENTS_AUTO_RECONCILE_SECONDS=60
PAYMENTS_TRANSACTION_URL_TEMPLATE={base}/{transaction_id}
DB_ENGINE=mssql
DB_NAME=replace-me
DB_USER=replace-me
DB_PASSWORD=replace-me
DB_HOST=replace-me
DB_PORT=1433
DB_ODBC_DRIVER=ODBC Driver 18 for SQL Server
EDU_CONTINUA_ENABLED=1
EDU_CONTINUA_DB_NAME=INTECEDUCONTINUA
MS_TENANT_ID=replace-me
MS_CLIENT_ID=replace-me
MS_CLIENT_SECRET=replace-in-secret-store
