Django==6.0.7
pandas==3.0.3
openpyxl==3.1.5
sqlalchemy==2.0.51
pyodbc==5.3.0
django-environ==0.14.0
requests==2.34.2
gunicorn==26.0.0
python-docx==1.2.0
reportlab==5.0.0
qrcode[pil]==8.2
docx2pdf==0.1.8
mssql-django==1.7.3
uvicorn==0.51.0
wfastcgi==3.0.0
